<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
	<div class="modal fade" id="confirmarPagamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 		<div class="modal-dialog" role="document" data-keyboard="false" data-backdrop="static">
		    <form id="confirmarPagamentoForm" action="/titulos/1/receber" method="POST">
		    
	 		   	<div class="modal-content">
			      	<div class="modal-header">
		        		<h5 class="modal-title">Receber título</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
			      
			      	<div class="modal-body">
				        <p class="text-center">
				        	Confirmar recebimento do título  
				        	<strong class="pagamento-texto">Descrição</strong> ?
				        </p>
			      	</div>
			      
			      	<div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				        <button type="button" id="confirmarPagamentoFormSubmit" class="btn btn-primary">Confirmar</button>
			      	</div>
			    </div>
		    </form>
	  	</div>
	</div>
	
</html>